mixin header
	header.header
		.header_main_row
			+logo('header_mod')

		.menu_trigger_wrap
			.menu_trigger#menu_trigger
				span.menu_trigger_decor

		nav.header_menu_row
			ul.header_menu_list
				li.header_menu_item
					a.header_menu_link(href='#home') Home
				li.header_menu_item
					a.header_menu_link(href='#about') About
				li.header_menu_item
					a.header_menu_link(href='#service') Service
				li.header_menu_item
					a.header_menu_link(href='#work') Work
				li.header_menu_item
					a.header_menu_link(href='#blog') Blog
				li.header_menu_item
					a.header_menu_link(href='#') Contact

mixin footer
	footer.footer
		.footer_wrap
			section.footer_section.first_mod
				+logo('footer_mod')
				.footer_descr
					p No mei augue saperet, te nibh erroribus ocurreret vix. In vis ludus luptatum. Summo elitr lobortis est an, ex clita regione euismod vix. Usu te choro veritus expetenda, inani neglegentur an sea. Usu ad movet oblique.
				.follow
					.follow_title
						span.follow_count 15k
						span.follow_text followers
					+social(follows, 'footer_mod')

					form.form_subscribe#form_subscribe
						+form_element({
							type: 'email',
							class_array: default_field,
							title: '',
							id: 'email',
							placeholder: 'Your Email...'
						})
							button.subscribe_button(type='submit' form='form_subscribe') Subscribe

			section.footer_section.second_mod
				+section_title('', 'Blogs', 'footer_mod')
				ul.blog_list
					each item in fromblog
						li.blog_item
							.post_block
								a.image_wrap(href='#')
									img.img(src= item.img)
								.image_desc
									a.image_d_title(href='#')= item.title
									.image_d_date= item.date

			section.footer_section.third_mod
				+section_title('', 'Instagram', 'footer_mod')
				ul.instagram_list
					+loop_while(9)
						li.instagram_item
							a.instagram_link(href='#')
								img.img(src='i/instagram/inst_thumb_0#{i}.jpg')
				a.instagram_more(href='#') View more photos

		.footer_copyrights &copy; 2016 MoGo free PSD template by Laaqiq

//------------------------------------------------------------ logo
mixin logo(mod)
	h1.logo_wrap(class='#{mod}')
		a.logo_text(class='#{mod}' href='#')= logo

//------------------------------------------------------------ section_title
mixin section_title(title1, title2, mod)
	h2.section_title(class= mod)
		if title1
			span.title1(class= mod)= title1
		span.title2(class= mod)= title2

//------------------------------------------------------------ stories
mixin stories(array)
	ul.stories_list
		each item in array
			li.stories_l_item
				a.image_link(href='#')
					figure.image_wrap.effect1_mod
						img.img(src= item.img)
						figcaption.image_caption.story_mod= item.title

//------------------------------------------------------------ facts
mixin facts(array)
	ul.facts_list
		each item in array
			li.facts_l_item
				dl.fact_block
					dt.fact_text= item.text
					dd.fact_num= item.num

//------------------------------------------------------------ services
mixin services(array)
	ul.services_list
		each item in array
			li.services_l_item
				.service_block(class= item.mod)
					h3.service_title= item.title
					.service_text
						p= item.text

//------------------------------------------------------------ team
mixin team(array, mod)
	ul.team_list
		each item in array
			li.team_l_item
				.teammate_block
					figure.image_wrap.effect1_mod
						img.img(src= item.photo alt= item.name title= item.name)

						figcaption.image_caption
							ul.teammate_socials
								each link in item.soclinks
									li.teammate_s_item
										a.teammate_s_link(href= link.url class='#{link.text}_mod')
					span.image_c_title= item.name
					span.image_c_text= item.text

//------------------------------------------------------------ what
mixin accordion(array)
	ul.accordion
		each item in array
			li.accordion_item
				h3.accordion_title(class= item.mod)= item.title
				.accordion_content
					p= item.text

//------------------------------------------------------------ testimonials
mixin testimonials(mod, array)
	.slider_wrap(class= mod)
		ul.testimonials
			each item in array
				li.testimonials_item
					if item.img
						.bq_block
							.bq_image
								img.img(src= item.img)
							.bq_text
								blockquote.blockquote= item.text
								cite.cite= item.cite
					else
						.bq_block.icon_mod
							blockquote.blockquote= item.text
							cite.cite= item.cite

//------------------------------------------------------------ clients
mixin client_block(array)
	.client_block
		.client_image
			img.img(src= array.img)
		.text_wrap
			.image_c_title= array.name
			.image_c_text= array.spec
			.text
				p= array.text

//------------------------------------------------------------ recent_post
mixin recent_post(array)
	a.recent_post(href= array.url)
		article.post
			.image_wrap.blog_mod
				img.img.blog_mod(src= array.img)
			h2.post_title= array.title
			.post_text
				p= array.text
			.post_date
				span.post_d_day= array.day
				span.post_d_month= array.month
			.post_stat_wrap
				span.post_stat.views_mod= array.views
				span.post_stat.comm_mod= array.comm